@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../node_modules/swiper/swiper.min.css';
@import '../node_modules/swiper/components/pagination/pagination.min.css';
@import '../node_modules/swiper/components/scrollbar/scrollbar.min.css';
@import '../node_modules/swiper/components/navigation/navigation.min.css';
@import 'swiper/swiper-bundle.css';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Playfair+Display&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Nunito Sans', sans-serif;
}

.swiper-pagination {
  position: inherit !important;
}

.maxwidth-1200 {
  max-width: 1200px;
}

.nunito-sans {
  font-family: 'Nunito Sans', sans-serif;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

.custom-title {
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.header-v2 {
  background-image: url('/banner-wallpaper.png');
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: ; */
  background-size: cover;
}



.card-list-images-count {
  border-radius: 50px;
  top: 20px;
  box-shadow: 0 5px 7px rgb(0 0 0 / 22%);
  font-size: 11px;
  font-weight: 500;
  padding: 6px 8px;
  /* position: absolute; */
  right: 20px;
  z-index: 9;
}

.banner-title {
  z-index: 11;
  font-family: "Playfair Display";
  visibility: visible;
  text-align: left;
  line-height: 45px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 72px;
  padding: 0px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  white-space: normal;
  opacity: 1;
}

.luxury {
  z-index: 10;
  font-family: "Nunito Sans";
  visibility: visible;
  text-align: left;
  line-height: 23px;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 15px;
  border-color: rgb(105, 105, 105);
  border-style: none;
  margin: 0px;
  border-radius: 0px;
  padding: 0px;
  color: rgb(115, 115, 115);
  text-decoration: none;
  white-space: nowrap;
  width: auto;
  height: auto;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px;
}

.view-project-button {
  z-index: 12;
  font-family: "Nunito Sans";
  visibility: visible;
  text-align: left;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 15px;
  border-color: rgb(48, 48, 48);
  border-style: none;
  margin: 0px;
  border-radius: 0px;
  padding: 0px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  white-space: nowrap;
  width: auto;
  height: auto;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px;
  border-width: 0px;
}